.listearticle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.article1,
.article2 {
    border-width: 2px;
    background-color: aqua;
    border-radius: 10px;
}

.prixarticle1,
.prixarticle2 {
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    display: flex;
    Margin: 150px 3px 3px 180px;
    font-size: x-large;
    border-radius: 10px;
}

.imgarticlesport1,
.imgarticlesport2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    Padding: 20px
}

.sport1,
.sport2 {
    Margin: 20px 10px;
}

.imgballon {
    background-color: aquamarine;
    Padding 30px/* ajuster en fonction de la taille des images */
}
.aside{
    background-color:	rgb(0,255,255);
    font-style: 








}