.listearticle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.article1,
.article2 {
    border-width: 2px;
    background-color: aqua;
    border-radius: 10px;
}

.prixarticle1,
.prixarticle2 {
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    display: flex;
    Margin: 150px 3px 3px 180px;
    font-size: x-large;
    border-radius: 10px;
}

.imgarticlesport1,
.imgarticlesport2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    Padding: 20px
}

.sport1,
.sport2 {
    Margin: 20px 10px;
}

.imgballon {
    background-color: aquamarine;
    Padding: 30px;
    /* ajuster en fonction de la taille des images */
}

.tout {
    background-color: rgb(248, 229, 177);
    margin: 3px 1% 10% 5%;
}


/*Début header*/

header {
    background-color: rgb(255, 251, 239);
    padding: 5%
}

header .retouracceuil {
    background-color: black;
}

div.bare ul {
    background-color: aqua;
    display: flex;
    list-style-type: none;
    margin: 0%;
}

nav.blocs,
nav.Titre,
nav.shoppingkart {
    font-size: 1rem;
    padding: 1px 1px;
    text-align: left;
    border-radius: 9px;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    padding: 0% 4px 0% 4px;
    margin-top: 11px;
    background-color: lightcyan;
}

nav.Titre {
    margin-right: 700px;
}

nav.blocs {
    margin-right: 10px;
}


/*fin headder*/